.bookmark-container {
    /* box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px; */
}

.bookmark-text {
    width: 650px;
}

.bookmark-add {
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

.bookmark-list{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin-top:10px;
}

.bookmark-item{
    flex-basis: 22%;
    /* border: 1px solid red; */
    height: 150px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    word-break: break-all;
    margin: 10px;
}